{
  "ignore": [],
  "env": {
    "test": {
      "presets": [
        [
          "@babel/env",
          {
            "modules": false, "loose": true
          }
        ]
      ],
      "plugins": [
        "@babel/plugin-transform-runtime",
        [
          "@babel/plugin-transform-modules-commonjs",
          {
            "allowTopLevelThis": false
          }
        ]
      ]
    }
  }
}